params {

	fastq = 'fastq/*_{1,2}.*'

	/*
	Component 'integrity_coverage_1_1'
	---------------------------------
	*/
	genomeSize_1_1 = 1
	minCoverage_1_1 = 0

	/*
	Component 'fastqc_trimmomatic_1_2'
	---------------------------------
	*/
	adapters_1_2 = 'None'
	trimSlidingWindow_1_2 = '5:20'
	trimLeading_1_2 = 3
	trimTrailing_1_2 = 3
	trimMinLength_1_2 = 55
	clearInput_1_2 = false

	/*
	Component 'spades_1_3'
	---------------------
	*/
	spadesMinCoverage_1_3 = 2
	spadesMinKmerCoverage_1_3 = 2
	spadesKmers_1_3 = 'auto'
	clearInput_1_3 = false
	disableRR_1_3 = false


}